body{
  margin: 0;
  padding: 0;
  background: #EEAECA;
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}

.box{
  width: 200px;
  height: 200px;
  border: 1px solid #94BBE9 ;
  border-radius: 10px;
}